.weatherContainer {
    height: 90%;
    width: 70%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
    padding: 20px 30px;
    color: white;
    border-radius: 10px !important;
    background: black;
    opacity: 0.5;
}

.weatherContainer1 {
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.weatherContainer2 {
    height: 40%;
}

@media (max-width: 700px) {
    .weatherContainer {
        width: 100%;
        height: 100%;
        border-radius: 0 !important;
    }
    
    .weatherContainer1 {
        width: 100%;
        height: 52% !important;
        flex-direction: column;
    }

    .weatherContainer2 {
        height: 48% !important;
    }
}