.subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #a7a8aa;
    padding-top: 1%;
    height: 100%;
}

.subContainer .subContainer-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background: none;
    box-shadow: none;
    border: none;
    margin: 0;
    height: 100%;
    font-size: 15px;
}

.subContainer .subContainer-card:hover {
  background: #CFD6E6;
  color: black;
  font-weight: bold;
}

.subcontainer-icon {
    font-size: 40px !important;
}

@media (min-width: 700px) and (max-width: 950px) {
    .weatherDetail {
        font-size: 14px !important;
    }

    .subContainer .subContainer-card {
        font-size: 13px !important;
        padding-right: 0px !important;
        padding-left: 0 !important;
    }

    .subcontainer-icon {
        font-size: 28px !important;
    }
}

@media (max-width: 700px) {
    .subContainer {
        flex-direction: column;
    }

    .subContainer .subContainer-card {
        flex-direction: row;
        /* height: 200%; */
        width: 100%;
        font-size: 13px;
        justify-content: space-evenly;
        padding: 3% !important;
        padding-right: 0px !important;
        padding-left: 0 !important;
    }

    .subcontainer-icon {
        font-size: 28px !important;
    }
}